<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <!-- Здесь подключите ваши стили CSS, если необходимо -->
  <style>
    .error {
      text-align: center;
    }
  </style>
</head>
<body class="error">
  <h1 class="error-code"><%= errorCode %></h1>
  <p><%= errorMessage %></p>
</body>
</html>
